* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(192, 214, 147);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

p /* all paragraph */ {
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  text-align: center;
}

.first {
  color: red;
}

#your-name {
  background-color: aliceblue;
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: pink;
}

#your-name h2 {
  color: olivedrab;
}

#golf-image {
  width: 600px;
}
